{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<script src="{{url_for('static', path='/js/upload.js')}}"></script>
<script>let chart</script>
<nav class="navbar navbar-expand-md navbar-dark background-navbar navbar-rounded shadow " style="z-index: 100;">
    <a class="navbar-brand abs" href="#">{% block nav %}{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            {% block nav_collapse %}
            {% endblock %}
        </ul>
    </div>
</nav>
<div class="row h-100">
    <div class="col-md-12 mx-auto my-5">
        <div class="row">
            <div class="col-2">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-upload-list"
                       data-toggle="list" href="#list-upload" role="tab" aria-controls="upload">Upload</a>
                    <a class="list-group-item list-group-item-action" id="list-camera-list" data-toggle="list"
                       href="#list-camera" role="tab" aria-controls="camera">Camera</a>
                </div>

            </div>
            <div class="col">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-upload" role="tabpanel"
                         aria-labelledby="list-upload-list">
                        <div class="row h-25">
                            <p class="h2">Upload image to get results</p>
                        </div>
                        <div class="row h-25">
                            <div class="row" id="uploadImageRow">
                                <div class="col-md-12">
                                    <label for="myFiles">
                                        <input type="file" name="files" id="myFiles">
                                    </label>
                                </div>
                            </div>
                            <div class="row" id="changeImageRow" style="display: none">
                                <div class="col-md-12">
                                    <button type="button" id="btnChangeImg" class="btn mb-2 ml-4 btn-main">Change
                                        Image
                                    </button>
                                    <button type="button" id="btnGenerateResults" class="btn mb-2 ml-4 btn-main">
                                        Generate Results
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-camera" role="tabpanel" aria-labelledby="list-camera-list">
                        <div id="myCamera"></div>
                        <div class="row h-25">
                            <div class="row" id="captureImage">
                                <button type="button" id="capture" onclick="takePicture()" class="btn btn-back">Capture
                                    your
                                    emotion.
                                </button>
                            </div>
                            <div class="row" id="anotherImage" style="display: none">
                                <div class="col-md-12">
                                    <button type="button" id="captureAnother" onclick="takePicture()"
                                            class="btn btn-back">
                                        Take another picture.
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mr-5">
                <div class="row" id="resultsTabs" style="display:none">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                               aria-controls="nav-home" aria-selected="true">Your image</a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                               aria-controls="nav-profile" aria-selected="false">Emotion distribution Chart</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tab-Content">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-home-tab">
                            <img class="img-fluid" id="imgResults" src="#">
                            <h2 id="emotion"></h2>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <canvas id="chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block main_body %}
{% endblock %}
<script src="{{url_for('static', path='/js/faceCapture.js')}}"></script>
{% endblock %}