{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<script>document.body.className = "background-gif"</script>
<nav class="navbar navbar-expand-md navbar-dark background-navbar">
    <a class="navbar-brand abs" href="#">{% block nav %}{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            {% block nav_collapse %}
            {% endblock %}
        </ul>
    </div>
</nav>
{% block main_body %}{% endblock %}
{% endblock %}