<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Login / Sign up Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.js"></script>
    <link rel="stylesheet" href="{{url_for('static', path='/css/style.css')}}">
</head>

<body class="background-gif"></body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<div class="row mt-md-5">
    <div class="col-md-4 mx-auto">
        <div class="col h1 color-main"><strong>Login</strong></div>
        <form>
            <div class="form-group col-md-10 m-2">
                <label for="exampleInputEmail1" class="color-main">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted color-main">We'll never share your email
                    with anyone else.</small>
            </div>
            <div class="form-group col-md-10 m-2">
                <label for="exampleInputPassword1" class="color-main">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group m-2 ml-4">
                <a href="\register" class="color-highlight">Don't have account/Create new</a> <a
                    class="col-auto ml-2 color-highlight" href="">Access as a Guest</a>
            </div>

            <button type="button" onclick="takePicture()" id="capture" class="btn mb-2 ml-4 btn-main">Submit
            </button>
        </form>
            <div id="results"></div>
            <div id="snap"></div>
    </div>
</div>
<script src="{{url_for('static', path='/js/faceCapture.js')}}"></script>
</body>
</html>