{% extends "layout-main.html" %}
{% block head %}
{{ super() }}
<script src="{{url_for('static', path='/js/main.js')}}"></script>
{% endblock %}
{% block nav %}Member{% endblock %}
{% block nav_collapse %}
<li class="nav-item">
    <a class="nav-link" href="#">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" id="aLogout">Log Out</a>
</li>
{% endblock %}
{% block main_body %}
<div class="row mt-md-5">
    <div class="col-4 m-0 justify-content-center">
        <img>
        foto budit
    </div>
    <div class="col-3 m-0">
        <p>jusu emocija budit</p>
    </div>
</div>
<div class="row mt-12 justify-content-center">
        <p>chartas budit</p>
</div>
{% endblock %}