{% extends "layout.html" %}
{% block title %}Login / Sign up Form{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<script>document.getElementById("wrapper").className += " background-gif"</script>
<div class="row mt-md-5">
    <div class="col-md-4 mx-auto">
        <div class="col h1 color-main"><strong>Registration</strong></div>
        <form>
            <div class="form-group col-md-10 m-2 " id="usernameForm">
                <label class="color-main" for="inputUsername4">Username</label>
                <input type="text" class="form-control" id="inputUsername4" placeholder="Username">
                <div id="warningUsername" class="invisible">
                </div>
            </div>
            <div class="form-group col-md-10 m-2">
                <label class="color-main" for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" >
                <div id="warningEmail" class="invisible">
                </div>
                <small id="emailHelp" class="form-text text-muted color-main">We'll never share your email with anyone
                    else.</small>

            </div>
            <div class="form-group col-md-10 m-2">
                <label class="color-main" for="inputPassword4">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password" >
                <div id="warningPassword" class="invisible">
                </div>
            </div>
            <div class="form-group col-md-10 m-2">
                <label class="color-main" for="inputPassword5">Confirm Password</label>
                <input type="password" class="form-control" id="inputPassword5" placeholder="Confirm Password" >
                <div id="warningConfirmPassword" class="invisible">
                </div>
            </div>
            <button type="button" id="btnRegister" class="btn mt-2 ml-4 btn-main">Sign up</button>
            <button id="btnToLogin" type="button" class="btn mt-2 ml-4 btn-back">Login</button>
        </form>
    </div>
</div>
<script src="{{url_for('static', path='/js/register.js')}}"></script>
{% endblock %}